
@{
    ViewBag.Title = "Index";
}
<br />

<div class="container-fluid">
    <div class="col-md-12" id="caption">
        <p class="pull-left">Herzlich Willkommen auf dem Azubi-Informations-System (AIS) des BBW Dresden</p>
    </div>   
</div>



