
@{
    ViewBag.Title = "Ueber";
}

<h2>Über das AIS</h2>

<div class="col-sm-2"></div>
<div class="col-sm-8">
    <p>
        Das AIS, oder lang Auszubildenden-Informations-System, ist ein Webportal, welches die wichtigsten Informationen rund um Ausbildung, Service und das BBW bündelt
        und geordnet darstellt.
    </p>
    <p>
        Zur Navigation dient das Menü am oberen Bildschirmrand<br />
        <img src="~/Content/Images/Ueber/1.jpg" />
    </p>
    <p>
        <ul>
            <li>Über das Menü "Service" erhalten Sie Zugriff auf die Seiten der Mensa, der Teilnehmervertretung, aller ausbildungsbegleitenden Dienste sowie die Übersichtsseite mit allen Öffnungzeiten.</li>
            <li>Über das Menü "Ausbildung" erhalten Sie Zugriff auf wichtige Dokumente, die die Ausbildung am BBW betreffen, sowie Formulare und Belehrungen.</li>
            <li>Über das Menü "Telefonbuch" erreicht man die Übersicht aller Mitarbeiter am BBW mit ihren Kontaktdaten.</li>
        </ul>
    </p>
</div>
<div class="col-sm-2"></div>