.navbar {
  border-bottom: 8px solid #0c3a78;

  /* Bild einfügen statt URL */
  /*background-color: #ee7400;*/
  background: url(http://www.bbw-dresden.de/typo3temp/vhs-assets-css-4c4f744ef3ca986945dc8aca1faf4b56.jpg); 
  font-size: 22px;
  /*border:  10px 0 10px 0px; */
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  font-weight: bold;
  color: #000;
  background-color: transparent;

}

.navbar-nav>li:first-child{
  padding-right: 5px;
  border-right: 2px solid #000;
}

.navbar-nav li {
  height: 70px;
  padding-top: 10px;

}

/*   ------- UNTERMENÜ  -----   */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*   ------- ENDE -- UNTERMENÜ  -----   */

#content {

}

#zeiten {
  background-color: #e9ecef;
  margin-top: 100px;

}

#speise{
    margin-top: 20px;
    background-color: #e9ecef;
    text-align: center;
}

#heimfahrt{
    text-align: center;
  background-color: #e9ecef;
}


/* Set the fixed height of the footer here */
footer {
  height: 50px;
  background: url(http://www.bbw-dresden.de/typo3temp/vhs-assets-css-4c4f744ef3ca986945dc8aca1faf4b56.jpg);
  border-top: 1px solid #000000;
  
}

/*   ------- ENDE --- FOOTER  ------- */