
@{
    ViewBag.Title = "Kundendienst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using WebMatrix.Data

<h2>Kundendienst</h2>

@Html.Partial("~/Views/SharedAnzeigen/Index.cshtml")

@if (Request.IsAuthenticated && (HttpContext.Current.User.Identity.Name == ViewBag.Title || HttpContext.Current.User.Identity.Name == "Root"))
{
    <div class="panel panel-default">
        <div class="panel-body" id="InhaltBearbeiten">
            @Html.Partial("~/Views/SharedBearbeiten/Index.cshtml")
        </div>
    </div>
}
<p>&nbsp;</p>
<p>&nbsp;</p>