
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Telefonbuch</h2>

<body>
   <center>
    <iframe height="900" width="1220" src="http://192.168.130.215/~telefonbuch/">
        < href="http://192.168.130.215/~telefonbuch/">Telefonbuch</>
    </iframe>
    </center>
    <p>  </p>
    <p>  </p>
</body>