
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wohnheim</h2>

<div class="panel panel-default">
    <div class="panel-body" id="InhaltBearbeiten">
        @Html.Partial("~/Views/SharedBearbeiten/Index.cshtml")
    </div>
</div>



