
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wohnheim</h2>


        @Html.Partial("~/Views/SharedAnzeigen/Index.cshtml")

@if (Request.IsAuthenticated)
{
    <div class="panel panel-default">
        <div class="panel-body" id="InhaltBearbeiten">
            @Html.Partial("~/Views/SharedBearbeiten/Index.cshtml")
        </div>
    </div>
}



